h1
{
    border: 10px dashed rgb(228, 247, 126);
    padding:20px;
    border-radius:50px;
    color:rgb(255, 177, 255);
    text-shadow: 2px 2px 2px black, 0 0 30px blue, 0 0 10px darkblue;
}
h2
{
    color:yellow;
    text-shadow: 2px 2px 2px black, 0 0 25px orange, 0 0 5px orangered;
}
h3
{
    color:rgb(255, 177, 255);
    border:5px solid rgb(71, 11, 128);
    border-radius:20px;
    padding:20px;
    text-shadow: 2px 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#end
{
    color:blue;
    text-shadow: 2px 2px 2px black, 0 0 25px orange, 0 0 5px orangered;
}
.bruh
{
    background-color:tomato;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
}